$body-color: rgb(255, 255, 255);

$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 1.2rem;

//theme colors
$theme-colors: (
	"primary": #0b00aa,
	"secondary": #facf10,
	"success": #28a745,
	"info": #17a2b8,
	"warning": #ffc107,
	"danger": #dc3545,
	"light": #d3dde8,
	"dark": rgb(55, 55, 55),
	"dark-light": rgb(65, 65, 65),
	"grey": rgb(100, 100, 100),
);

$enable-gradients: true;

@import "../node_modules/bootstrap/scss/bootstrap";
